html {
    /* background: linear-gradient(90deg, white 50%, #1843b9 50%); */
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 10px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1.5s ease-in-out infinite;
    -webkit-animation: spin 1.5s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #1843b9;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
