html {
    height: 100%;
    background-color: #370e58;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

input,
textarea {
    font-family: 'Roboto', sans-serif;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
}

::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
}

::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
}

::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
}

.loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 10px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1.5s ease-in-out infinite;
    -webkit-animation: spin 1.5s ease-in-out infinite;
}
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(110, 109, 109, 0.507);
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 36, 36);
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}
