.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    animation: 3s load-in-contact ease;
}

@keyframes load-in-contact {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* builds off loader class from App.css */
div.contact-loader {
    height: 25px;
    width: 25px;
    border: 5px solid rgba(255, 255, 255, 0.6);
    border-top-color: black;
}

div.disappear {
    display: none;
}

.contact-title-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    font-size: 1.5rem;
}

.contact-title-header-1 {
    margin: 0;
    margin-bottom: 5px;
    animation: 3s fade-in ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact-title-header-2 {
    margin: 0;
    margin-bottom: 5px;
    animation: 4s fly-in-message ease-in-out;
}

@keyframes fly-in-message {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 1;
        transform: translateX(70%);
    }
    100% {
        transform: translateX(0%);
    }
}

.contact-arrow-down {
    display: none;
}

.contact-title-colored {
    color: black;
}

.form-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
label,
textarea {
    display: block;
    text-align: center;
    margin-bottom: 1%;
}

label {
    color: white;
    width: 80%;
    font-size: 1.6rem;
}

input {
    border-radius: 2.5%;
    line-height: 2;
    border: none;
    width: 100%;
    padding: 5px 10px;
}

textarea {
    border-radius: 2.5%;
    width: 100%;
    padding: 5px 10px;
}

input:placeholder {
    color: white;
}

input:focus {
    outline: 1.5px solid rgba(49, 49, 49, 0.863);
}

textarea:focus {
    outline: 1.5px solid rgba(49, 49, 49, 0.863);
}

form button {
    padding: 2px 10px 2px 10px;
    font-size: 1.1rem;
    color: white;
    background-color: transparent;
    width: 40%;
    border: 1px solid white;
    border-radius: 5%;
    cursor: pointer;
}

form button:hover {
    color: black;
    background-color: white;
}

/* media query */

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .contact-form {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    .contact-container {
        flex-direction: column;
        height: 100vh;
    }

    .contact-title-container {
        font-size: 1rem;
        text-align: center;
        padding: 0;
        width: 90%;
        height: 40%;
    }

    .contact-title-colored {
        color: rgb(146, 68, 247);
    }

    .contact-arrow-right {
        display: none;
    }

    .contact-arrow-down {
        margin-top: 3%;
        display: block;
    }

    .contact-title-header-2 {
        padding-top: 2%;
        animation: 3s fly-in-message ease;
    }

    .form-container {
        width: 90%;
        height: 80%;
        align-items: flex-start;
    }

    .contact-form {
        width: auto;
        margin-bottom: 10px;
    }

    form button {
        color: black;
        border: 1px solid black;
    }

    @keyframes fly-in-message {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        50% {
            opacity: 1;
            transform: translateY(70%);
        }
        100% {
            transform: translateY(0%);
        }
    }
}

@media only screen and (max-width: 420px) {
    .contact-title-container {
        font-size: 0.9rem;
    }
}

@media only screen and (max-height: 569px) {
    .contact-title-container {
        margin-top: 35px;
    }
}

/* iphone 5 */
@media only screen and (height: 568px) and (width: 320px) {
    .contact-container {
        height: 100%;
    }
}
