footer {
    /* padding-top: 15%; */
    padding-bottom: 1%;
    width: 100%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    margin-top: 2%;
    width: 10%;
}

@media only screen and (max-width: 767px) {
    .footer-logo {
        margin-top: 2%;
        width: 20%;
    }
}
