.home-container {
    display: flex;
    background: url(../imgs/home.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: 3s load-in-home ease;
}

@keyframes load-in-home {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 2.2rem;
    padding-left: 3%;
}

.home-title h1 {
    background-color: rgba(170, 169, 169, 0.719);
    padding: 3%;
    border-radius: 10%;
}

.home-logo-container {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-name {
    color: rgb(146, 68, 247);
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
}

.home-break {
    display: block;
}

.home-first {
    margin-bottom: 10px;
    font-weight: 400;
    animation: fly-left 2s ease-in-out;
}

.home-second {
    margin: 0;
    font-weight: 400;
    animation: fade-in 3s ease-in-out;
}

.home-third {
    margin-top: 10px;
    font-weight: 400;
    animation: fly-right 2s ease-in-out;
}

.home-page-continued {
    border-top: 10px solid white;
    text-align: center;
}

.home-page-continued a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px 15px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5%;
    transition: all 0.4s ease;
}

.home-page-continued a:hover {
    background: white;
    color: rgb(146, 68, 247);
}

.home-page-continued hr {
    width: 75%;
}

.home-page-continued h2 {
    font-size: 2.5rem;
}

.home-about-container {
    text-align: center;
    padding: 5% 15%;
}

.home-about-container div {
    padding-bottom: 5%;
    font-style: italic;
    line-height: 1.6;
}

.home-featured-project {
    text-align: center;
    padding: 5% 15%;
}

.home-featured-project-first {
    padding-bottom: 0;
}

.home-featured-project-second {
    padding-top: 0;
}

.home-featured-project h3,
.home-featured-project p {
    font-style: italic;
}

.home-featured-project p {
    line-height: 1.6;
    padding-bottom: 2%;
}

.featured-photo {
    width: 100%;
}

.home-resume-and-links {
    text-align: center;
    padding: 5% 15%;
}

.home-resume-and-links a {
    fill: white;
}
.home-resume-and-links a:hover {
    fill: black;
}

@keyframes fly-left {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fly-right {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* media query */

@media only screen and (min-width: 1450px) {
    .featured-photo {
        width: 85%;
        display: block;
        margin: auto;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1290px) {
    .home-title {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .home-title {
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1023px) {
    .home-title {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    .home-title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 767px) {
    .home-container {
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        background-size: cover;
    }

    .home-title {
        height: 100vh;
        width: 100vw;
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
        align-items: center;
    }

    .home-logo-container {
        width: 100vw;
        height: 0;
    }

    .home-about-container div {
        padding-bottom: 7%;
    }
}

@media only screen and (max-width: 540px) {
    .home-title {
        font-size: 1.2rem;
    }

    .home-about-container div {
        padding-bottom: 10%;
    }
}

@media only screen and (max-width: 475px) {
    .home-page-continued h2 {
        font-size: 2.1rem;
    }

    .home-about-container div {
        padding-bottom: 15%;
    }

    .featured-photo {
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 420px) {
    .home-title {
        font-size: 1rem;
    }

    .home-page-continued h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 300px) {
    .home-title {
        font-size: 0.8rem;
        margin-top: 5%;
    }
}
