.home-container {
    display: flex;
    /* background: linear-gradient(90deg, white 75%, #1843b9 25%); */
    background: url(../imgs/home.jpg);
    animation: 3s load-in-home ease;
}

@keyframes load-in-home {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-size: 2.2rem;
    padding-left: 3%;
}

.home-logo-container {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-logo {
    animation: fade-down 2s ease-in-out;
    height: 62%;
}

.my-name {
    color: rgb(56, 56, 56);
    font-weight: 700;
    text-decoration: underline;
}

.home-break {
    display: block;
}

.home-first {
    margin-bottom: 10px;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fly-left 2s ease-in-out;
}

.home-second {
    margin: 0;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fade-in 3s ease-in-out;
}

.home-third {
    margin-top: 10px;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fly-right 2s ease-in-out;
}

@keyframes fly-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fly-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    80% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* media query */

@media only screen and (min-width: 1200px) and (max-width: 1290px) {
    .home-title {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .home-title {
        font-size: 1.7rem;
    }
    .my-logo {
        height: 55%;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1023px) {
    .home-title {
        font-size: 1.5rem;
    }

    .my-logo {
        height: 49%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 950px) {
    .home-title {
        font-size: 1.2rem;
    }

    .my-logo {
        height: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .home-container {
        flex-direction: column;
        background: linear-gradient(180deg, white 5%, #1843b9 95%);
        height: 100vh;
    }

    .home-title {
        height: auto;
        width: 100vw;
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
        align-items: center;
    }

    .home-logo-container {
        width: 100vw;
        height: 60%;
    }
    .my-logo {
        height: 60%;
    }
}

@media only screen and (max-width: 540px) {
    .home-title {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 420px) {
    .home-title {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 300px) {
    .home-title {
        font-size: 0.8rem;
        margin-top: 5%;
    }
    .my-logo {
        height: 50%;
    }
}
