.home-container {
    display: flex;
    background: linear-gradient(90deg, white 75%, #1843b9 25%);
    animation: 3s load-in-home ease;
}

@keyframes load-in-home {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    color: black;
    font-size: 2.2rem;
    padding-left: 3%;
}

.home-logo-container {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-logo {
    animation: fade-down 2s ease-in-out;
    height: 62%;
}

.my-name {
    color: #1843b9;
    font-weight: 700;
}

.home-break {
    display: block;
}

.home-first {
    margin-bottom: 10px;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fly-left 2s ease-in-out;
}

.home-second {
    margin: 0;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fade-in 3s ease-in-out;
}

.home-third {
    margin-top: 10px;
    /* padding-left: 5%; */
    font-weight: 400;
    animation: fly-right 2s ease-in-out;
}

@keyframes fly-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fly-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    80% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}
