.nav-bar {
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.nav-bar .hide {
    width: 100%;
    display: none;
}

nav.nav-bar.hide-nav-bar {
    background-color: rgb(128, 128, 128, 0.2);
    border-top-right-radius: 35%;
    border-top-left-radius: 35%;
}

.nav-bar ul {
    display: flex;
    justify-content: space-around;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    transition: 0.5s;
}

.nav-bar li a:hover {
    color: #1843b9;
    font-size: 3.5rem;
    -webkit-text-stroke: 0.1px white;
}

.nav-hamburger {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 15px;
    margin-right: 25px;
    z-index: 1000;
}

.nav-hamburger div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .top-bar {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 8px);
}

.change .middle-bar {
    opacity: 0;
}

.change .bottom-bar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 600px) {
    .nav-bar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}
